<!DOCTYPE html>

<html>
    <head>
        <title>REGISTRATION</title>
    </head>
    <body>
        <h1>REGISTRATION</h1>
        <form action="/register" method="post">
            <label>NAME: <input type="text" name="username"></label><br>
            <label>AGE: <input type="number" name="age"></label>
            <label>Pass: <input type="password" name="password"></label>
            <input type="submit", name="SUBMIT">
        </form>
        <p><a href="/">Вернуться на главную</a></p>
    </body>
</html>